<% provide(:title, "Help")%>
<h1>アプリについて</h1>
<h2>特徴</h2>
<ul>
	<li>特定の日にちを起点として10年間の日記を確認できます。</li>
	<li>月カレンダーを視点として10年日記を閲覧・編集・削除・作成ができます</li>
	<li>他の人のマイクロポストを流用して日記を作れる</li>
</ul>

<p>
	Get help on the Ruby on Rails Tutorial at the
	<a href="https://railstutorial.jp/help">Rails Tutorial Help page</a>
	このアプリは
	<a href="https://railstutorial.jp/#ebook">
	<em>Ruby on Rails Tutorial</em>book</a>
	をベースにして作成してます。

	
</p>

